.chat__main {
    background-color: #191919;
    height: 100vh;
    width: 50%;
    margin: 5px;
    color: #fff;
}
.chat__main-header {
    background-color: #191919;
    height: 8vh;
    border-bottom: solid 2px #111111;
}
.chat__main-content {
    background-color: #191919;
    height: 75vh;
    overflow-y: scroll;
}
.chat__main-footer {
    border-top: solid 2px #111111;
    background-color: #191919;
    height: 8vh;
}
.chat__header {
    display: flex;
    justify-content: flex-start;
}
.chat__avt {
    width: 6%;
    border-radius: 999px;
    margin: 6px;
}
.chat__user {
    margin: 10px;
    font-size: .8rem;
}
.chat__name {
    display: flex;
    justify-content: flex-start;
    font-weight: 800;
}
.chat__d {
    color: rgb(53, 246, 23);
    font-size: .7rem;
}
.chat__call {
    margin: 15px 0 0 400px;
}
.chat__call-icon {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5rem;
    color: #ea8011;
}
.chat__main-footer {
    display: flex;
    justify-content: center;
}
.chat__main-footer-item {
    font-size: 1.5rem;
    margin: 20px 10px 20px 10px;
    color: #ea8011;
}
.chat__footer-input {
    bottom: 8px;
    width: 500px;
    height: 30px;
    border-radius: 999px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    padding-left: 10px;
    position: relative;
}
.chat__footer-input:focus {
    outline: none;
}
.input__item {
    color: #ea8011;
    font-size: 1.8rem;
    padding-right: 5px;
}
.chat__footer-chat {
    margin-top: 15px;
    background-color: #fff;
    height: 35px;
    border-radius: 999px;
}

.other__chat {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}
.other__chat-avt {
    width: 6%;
    border-radius: 999px;
    height: 6%;
}
.other__chat-nd {
    margin-left: 20px;
    height: 50px;
    background-color: #2a2a2a;
    width: 438px;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.you__chat {
    background-color: #0084ff;
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px 10px 300px;
    padding-right: 20px;
    height: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}