.chat__list {
    background-color: #191919;
    height: 100vh;
    width: 20%;
    margin: 5px;
    color: #fff;
    overflow-y: scroll;
}
.chat__list-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 20px 10px 20px 10px;
    color: #ea8011;
    border-bottom: solid 1px #ea8011;
    padding-bottom: 10px;
}
.chat__list-title {
    color: red;
    font-weight: 900;
}
.chat__list-icon {
    margin-left: 10px;
}
.chat__list-avt {
    width: 15%;
    border-radius: 100px;
    /* padding-left: 5px; */
}
.chat__list-named {
    padding-left: 5px;
}
.chat__list-user {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    border: solid 1px #111111;
}
.chat__list-user:hover {
    background-color: #ea8011;
    color: #333;
}
.chat__list-name {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.chat__list-d {
    font-size: .8rem;
}


/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
    .chat__main {
        display: none;
    }
    .chat__list {
        width: 100%;
    }
}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .chat__list {
        width: 30%;
    }
    .chat__list-avt {
        width: 50px;
    }
    .chat__main-header {
        height: 60px;
    }
    .chat__avt {
        width: 50px;
        height: 50px;
    }
    .chat__call {
        margin: 15px 0 0 250px;
    }
}
