.header {
    top: 0;
    height: 48px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #b4b4b4;
    position: fixed;
    z-index: 1;
    background-color: #191919;
    color: rgb(248, 122, 12);
    width: 100%;
}
.header__logo {
    margin: 5px;
    padding-right: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #ea8011;
}
.header__search {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.header__list {
    margin-top: 10px;
    height: 40px;
    width: 30%;
}
.header__user {
    margin-top: 10px;
    width: 20%;
    display: flex;
    justify-content: flex-start;
}
.header__input {
    margin-top: 7px;
    height: 28px;
    width: 60%;
    border-radius: 999px;
    border: solid 1px #a2a0a0;
    position: relative;
}
.header__list-item {
    margin-left: 5px;
    margin-right: 5px;
    font-size: .8rem;
}
.header__register{
   text-decoration: none;
   color: #ea8011;
}
.header__vach{
    margin-left: 5px;
    margin-right: 5px;
}
.header__login{
    color: #ea8011;
}
.search {
    margin-top: 6px;
    font-size: 30px;
    position: absolute;
    margin-left: 32%;
}
.header__list-icon {
    color: #fff;
    text-decoration: none;
}
.header__list-title {
    margin-left: 5px;
    color: #fff;
}
.header__logout {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}
.header__nav {
    display: none;
}

/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
    .header__nav {
        display: block;
        margin: 10px;
    }
    .header__list {
        display: none;
    }
    .header__user {
        display: none;
    }
    .header__search {
        margin-left: 70px;
    }
    .header__input {
        width: 215px;
    }
    .header__list-title{
        display: none;
    }
    .header__list-icon {
        font-size: 1rem;
    }
    .search {
        margin-left: 265px;
    }
    .header__list {
        margin-right: 10px;
    }
    .header__list-item {
        margin: 0;
    }
    .header__logo {
        margin-left: 55px;
    }
}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .header__search {
        margin-left: 50px;
    }
    .header__input {
        width: 285px;
    }
    .search {
        margin-left: 338px;
    }
    .header__list {
        margin-right: 50px;
    }
    .header__list-title{
        display: none;
    }
    .header__list-icon {
        font-size: 1rem;
    }
    .header__list-item  {
        margin-left: 10px;
        margin-right: 10px;
    }
}
