.content__aside-login {
    background-color: #f2f2f5;
    width: 68%;
    height: 286px;
    margin: 20px;
    font-size: 1.5rem;
    color: orangered;
}
.aside__login-main {
    margin: 20px;
    background-color: #fff;
    width: 86%;
    height: 214px;
    overflow-y: scroll;
    border-radius: 5px;
}
.content__login {
    color: #333;
    font-size: .7rem;
    display: flex;
    justify-content: space-between;
}
.content__register {
    color: #333;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.input {
    margin-top: 20px;
    height: 30px;
    width: 86%;
    border: solid 1px #dbdbdb;
    border-radius: 5px;
}
.input:focus, .input:focus{
    outline: none;
}
.login__btn {
    background-color: orangered;
    border: solid 1px #333;
    margin-top: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 86%;
    margin-left: 6%;
    border-radius: 5px;
    border: solid 1px #fff;
    font-size: 1.2rem;
    height: 35px;
    padding-top: 5px;
}
.content__d {
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 10px;
}
.note {
    font-size: .6rem;
}
.role {
    font-size: .8rem;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.login__status {
    color: red;
    font-size: .9rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 12px;
}


/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
    .aside__login-main {
        margin-left: 5px;
        width: 182px;
        height: 238px;
    }
    .content__aside {
        display: none;
    }

}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .aside__login-main {
        width: 95%;
        height: 194px;
    }
}