/* nav */
.home__nav {
    width: 11%;
    height: 60vh;
    background-color: #191919;
    margin: 10px;
    border-radius: 5px;
}
.home__nav-title {
    font-weight: 900;
    color: orangered;
}
.home__nav-item {
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}
.home__nav-item:hover {
    background-color: aquamarine;
    color: #333;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}
.home__nav-icon {
    padding-right: 5px;
    color: #ea8011;
}

/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
    .home__nav {
        display: none;
    }
}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .home__nav {
        width: 20%;
        height: 40vh;
    }
}