
.main {
    padding-top: 5%;
    width: 100vw;
    height: 100vh;
    background-color: #111111;
    color: #fff;
    display: flex;
    justify-content: center;
    position: fixed;
}
.main__nav {
    background-color: #191919;
    width: 20%;
    border-radius: 10px;
}
.main__content {
    background-color: #191919;
    width: 70%;
    margin-left: 2px;
    border-radius: 10px;
}
.main__nav-list {
    margin: 20px 20px 20px 100px;
    display: flex;
    justify-content: flex-start;
}
.main__nav-list:hover {
    background-color: #ea8011;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-left: 20px;
}
.main__nav-title {
    margin-bottom: 50px;
    color: #ea8011;
}


/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
    .main__nav {
        display: none;
    }
    .main__nav-list {
        margin: 20px 20px 20px 50px;
    }
    .user__table {
        width: 410px;
        font-size: .5rem;
    }
    .main__nav-title {
        margin-top: 40px;
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    .main__content {
        width: 100%;
    }
    .user__table-list {
        margin: 10px;
    }

}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .main__nav {
        width: 30%;
    }
    .main__nav-list {
        margin: 20px 20px 20px 50px;
    }
    .user__table {
        width: 575px;
        font-size: .8rem;
    }
    .main__nav-title {
        font-size: 1.2rem;
        margin-bottom: 0;
    }
}