.admin {
    width: 100%;
}
.admin__table {
    display: flex;
    justify-content: center;
}
.admin__table-list {
    background-color: #191919;
    color: #fff;
    width: 100%;
    margin: 60px 10px 10px 10px;
}
.admin__update {
    color: #1bfa06;
}
.admin__delete {
    color: red;
}
.admin__item {
    color: #ea8011;
}
.admin__page {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.admin__page-list {
    background-color: #5b5b5b;
    margin: 10px;
    width: 50px;
    color: #fff;
}
.admin__page-list:hover {
    background-color: #ea8011;
    color: #333;
}
.tr {
    height: 50px;
}

.main {
    padding-top: 5%;
    width: 100vw;
    height: 100vh;
    background-color: #111111;
    color: #fff;
    display: flex;
    justify-content: center;
}
.main__nav {
    background-color: #191919;
    width: 20%;
    border-radius: 10px;
}
.main__content {
    background-color: #191919;
    width: 70%;
    margin-left: 2px;
    border-radius: 10px;
}
.main__nav-list {
    margin: 20px 20px 20px 100px;
    display: flex;
    justify-content: flex-start;
}