.chat {
    display: flex;
    justify-content: center;
    background-color: #111111;
    width: 100%;
    height: 100%;
    margin-top: 49px;
    position: fixed;
}
.chat__nav {
    background-color: #191919;
    height: 100vh;
    width: 5%;
    margin: 5px;
}
.chat__main {
    background-color: #191919;
    height: 100vh;
    width: 50%;
    margin: 5px;
}
.chat__profile {
    background-color: #191919;
    height: 100vh;
    width: 20%;
    margin: 5px;
}