.video {
    background-color: #111111;
    height: 100vh;
    color: red;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.video__nav {
    margin-top: 60px;
    background-color: #191919;
    width: 12%;
    margin-right: 5px;
    border-radius: 5px;
    height: 600px;
}
.video__content {
    background-color: #191919;
    margin-top: 60px;
    width: 60%;
    margin-left: 5px;
    border-radius: 5px;
    overflow-y: scroll;
}
.video__swipe {
    width: 100%;
    object-fit: cover;
}

.video__title {
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 800;
}
.video__nav-box1 {
    height: 200px;
    border: solid 1px #111111;

}
.video__nav-box2 {
    height: 150px;
    border: solid 1px #111111;

}
.video__nav-box3 {
    height: 300px;
    border: solid 1px #111111;
}
.video__nav-box1-item {
    color: #ea8011;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 20px;
}
.video__nav-box1-item:hover {
    background-color: #ea8011;
    color: #fff;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}
.video__nav-box1-icon {
   margin-right: 20px;
}
.video__nav-box1-nd {
   font-size: .9rem;
   font-weight: 200;
}
.video__nav-box1-title {
    font-weight: 800;
    font-size: 1.5rem;
    color: #fff;
}
.video__nav-box2-title {
    display: flex;
    justify-content: center;
    margin: 10px;
    color: #fff;
}