.home {
    height: 100%;
    position: relative;
}
.homecontent {
    margin-top: -4px;
    background-color: #111111;
    color: #fff;
    display: flex;
    justify-content: center;
}

/* article */
.home__article {
    margin-top: 10px;
    width: 44%;
    height: 100vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.home__article-box1 {
    height: 25px;
    border-radius: 5px;
    background-color: #191919;
    margin-bottom: 10px;
}
.home__article-box1-item {
    margin-left: 10px;
    margin-right: 10px;
}
.home__article-box1-item:hover{
    color: rgb(149, 255, 0);
}
.home__article-box2 {
    height: 80px;
    border-radius: 5px;
}
.home__article-box2-img {
    width: 100%;
    border-radius: 10px;
}
/* aside */
.home__aside {
    margin: 10px;
    width: 18%;
    height: 100vh;
}
.home__aside-box1 {
    height: 200px;
    border-radius: 5px;
    color: #333;
}
.home__aside-box1-img {
    width: 100%;
    object-fit: cover;
}
.home__aside-box2 {
    margin-top: 10px;
    background-color: #191919;
    height: 40vh;
    border-radius: 5px;
    font-size: 1.5rem;
    color: orangered;
    font-weight: 800;
    overflow-y: scroll;

}
.home__aside-box2-item {
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-weight: 400;
}
.home__aside-box2-icon {
    padding-right: 5px;
    color: #ea8011;
}
.home__aside-box2-item:hover {
    color: #f26d5f;
}
.home__aside-box3 {
    margin-top: 40px;
    height: 24vh;
    border-radius: 5px;
    border: solid 2px #191919;
}
.home__aside-box3-item {
    font-size: .8rem;
}
.aside-box3-title {
    margin-top: 20px;
    font-weight: 800;
}
.aside-box3-nd {
    font-size: .6rem;
    padding-top: 5px;
    font-weight: 100;
    flex-wrap: wrap;
}
.aside-box3-icon {
    margin-right: 10px;
}

/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
    .home__article {
        width: 100%;
    }
    .home__aside {
        display: none;
    }
    .home__article-box1  {
        display: none;
    }
    .home__article-box2-img {
        width: 98%;
    }
    .home__article-box2 {
        height: 50px;
    }
}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .home__article {
        width: 60%;
    }
    .home__aside {
        width: 20%;
    }
    .home__article-box1  {
        display: none;
    }
    .home__aside-box1 {
        height: 120px;
    }
    .home-content-user {
        margin: 0;
    }
    .home-content-nd {
        margin-left: 50px;
    }
}