.content {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}
.content__nav {
    margin-top: 40px;
    width: 20%;
    height: 100vh;
}
.content__aside {
    margin-top: 20px;
    width: 30%;
    height: 100vh;
}
.content__article {
    margin-top: 20px;
    width: 50%;
    height: 100vh;
}
.content__nav-item {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}
.content__nav-btn {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f5;
}
.content__nav-btn:hover {
    background-color: rgb(250, 95, 39);
    width: 130px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content__aside-hot {
    background-color: #f2f2f5;
    width: 300px;
    height: 420px;
    margin: 20px;
    overflow: auto;
    color: orangered;
    font-size: 1.2rem;
    padding-top: 10px;
}
.content__article-swiper {
    margin: 20px;
    background-color: #f2f2f5;
    width: 710px;
    height: 286px;
}
.content__article-main {
    margin: 20px;
    background-color: #f2f2f5;
    width: 710px;
    height: 200px;
}

.aside__hot-main {
   display: flex;
   justify-content: flex-start;
   margin: 20px;
}

.img{
    width: 20%;
}
.title {
    color: #333;
    font-size: 1rem;
    padding-left: 10px;
    padding-bottom: 5px;
}
.title1 {
    color: #333;
    font-size: .8rem;
    padding-left: 10px;
}
.title2 {
    padding-top: 20px;
    padding-left: 20px;
    color: #333;
}
.title3 {
    top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    color: #333;
    font-size: .8rem;
}
.bg{
    margin-top: 20px;
    width: 42%;
}
.swipe {
    margin-top: 9px;
    width: 95%;
    object-fit: cover;
}