.content {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
}
/* main */
.content__nav {
    margin-top: 40px;
    width: 20%;
    height: 100vh;
}
.content__article {
    margin-top: 20px;
    width: 50%;
    height: 95vh;
    overflow-y: scroll;
}
.content__aside {
    margin-top: 20px;
    width: 30%;
    height: 100vh;
}
/* main */
.content__nav-item {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}
.content__nav-btn {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f5;
}
.content__nav-btn:hover {
    background-color: rgb(250, 95, 39);
    width: 130px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content__aside-hot {
    background-color: #f2f2f5;
    width: 67%;
    height: 320px;
    margin: 20px;
    overflow: auto;
    color: orangered;
    font-size: 1.2rem;
    padding-top: 10px;
}
.content__article-swiper {
    margin: 20px;
    background-color: #f2f2f5;
    width: 95%;
    height: 286px;
}
.content__article-main {
    margin: 20px;
    background-color: #f2f2f5;
    width: 95%;
    height: 200px;
}

.aside__hot-main {
   display: flex;
   justify-content: flex-start;
   margin: 20px;
}

.img{
    width: 20%;
}
.title {
    color: #333;
    font-size: 1rem;
    padding-left: 10px;
    padding-bottom: 5px;
}
.title1 {
    color: #333;
    font-size: .8rem;
    padding-left: 10px;
}
.title2 {
    padding-top: 20px;
    padding-left: 20px;
    color: #333;
}
.title3 {
    top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    color: #333;
    font-size: .8rem;
}
.bg{
    margin-top: 20px;
    width: 42%;
}
.swipe {
    margin-top: 9px;
    width: 95%;
    object-fit: cover;
}


/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
    .content__nav {
        display: none;
    }
    .content__article-swiper {
        display: none;
    }
    .aside__hot-main {
        flex-wrap: wrap;
    }
    .content__aside-hot {
        display: none;
    }
    .title2 {
        display: none;
    }
    .content__article {
        width: 95%;
    }
    .title3 {
        font-size: .5rem;
        margin: 0;
    }
    .content__article-main {
        margin: 0;
        height: 305px;
        width: 370px;
    }
    .bg {
        width: 330px;
    }
    /* .content__aside {
        width: 180px;
    }
    .content__aside-login {
        width: 100%;
        margin-left: -10px;
        height: 280px;
        font-size: .8rem;
    } */
}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .content__article-swiper {
        height: 168px;
    }
    .content__aside-login {
        font-size: .9rem;
    }
    .content__aside-hot {
        font-size: .8rem;
    }
    .content__article-main  {
        height: 288px;
        margin-bottom: -10px;
    }
    .aside__login-main {
        margin: 5px;
    }
    .content__aside-login {
        height: 224px;
    }
    .aside__hot-main {
        flex-wrap: wrap;
    }
    .title3 {
        display: none;
    }
    .img {
        display: none;
    }
    .title {
        font-size: .6rem;
        display: flex;
        justify-content: flex-start;
    }
    .title1 {
        font-size: .5rem;
        display: flex;
        justify-content: flex-start;
    }
    .title2 {
        font-size: .8rem;
    }
    .bg {
        width: 100%;
    }
    .content__login {
        display: none;
    }
    .content__register {
        display: none;
    }
    .login {
        width: 142px;
    }
}